  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;

    color: #202020;
  }
  a{
    text-decoration: none;
  }

  /* 헤더 */
  .header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 100px);
    gap: 30px;
      
    margin-bottom: 30px; 
    margin-left: 100px;
    margin-right: 100px;
  }
  .header .item:nth-child(1){
    background-image: url(../img/12.png);
    background-repeat: no-repeat;
    background-position: left;
    grid-column-start: 1;
    grid-column-end: 3
  } 
  .header .item:nth-child(4) li{
    list-style: none;
    display: inline-block;
  } 
  .header .item:nth-child(4) ul{
    display: flex;
    justify-content: flex-end;
    gap: 90px;
    align-items: center;
  } 
  .header .item:nth-child(4) li a{
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
    color: #202020;
    font-size: 16px;
    line-height: 100px;
  } 
  .header .item:nth-child(4) a:hover{
    color: #184CEF;
    transition: 0.3s ease-in;
  }
  
  /* 메인 콘텐츠 */
  .main_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 408px);
    gap: 30px;

    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .main_content .item:nth-child(2){ 
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .main_content .item:nth-child(2) h2{
    font-size: 32px;
    margin-top: 140px;
    font-weight: 700;
    text-align: center;

    margin-top: 140px;
  }
  .main_content .item:nth-child(2) ul{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 100px
  }
  .main_content .item:nth-child(2) li{
    list-style: none;
  }
  .main_content .item:nth-child(2) a{
    text-decoration: none;
    color: #707070;
  }
  .main_content .item:nth-child(2) a:hover{
    text-decoration: none;
    color: #202020;
  }
  .item h5{
    margin-top: 354px;
    width: 100%;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 4;
    text-align: center;
    bottom: 0;
    color: #fff;
    background-color: rgba(24, 76, 239, 0.7);
    
    transition: opacity 0.2s ease-in;
    opacity: 0;
  }
  .item:hover h5{
    opacity: 1;
  }
  .main_content .item:nth-child(3){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  
    background-image: url('https://i.postimg.cc/wj7M51GR/image-83.png');
  }
  
  .main_content .item:nth-child(4){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
  
    background-image: url('https://i.postimg.cc/D0xfLhQc/image-76.png');
  }
  
  .main_content .item:nth-child(5){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
  
    background-image: url('https://i.postimg.cc/9MjfjJFy/image-77.png');
  }
  
  .main_content .item:nth-child(6){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
  
    background-image: url('https://i.postimg.cc/NFsfKFXM/image-78.png');
  }
  
  .main_content .item:nth-child(7){
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  
    background-image: url('https://i.postimg.cc/mDNgZCtJ/image-79.png');
  }
  
  .main_content .item:nth-child(8){
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
  
    background-image: url('https://i.postimg.cc/zBWRCy3F/image-80-1.png');
  }
  
  .main_content .item:nth-child(9){
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
  
    background-image: url('https://i.postimg.cc/FKSKq2m9/image-81.png');
  }
  
  .main_content .item:nth-child(10){
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
  
    background-image: url('https://i.postimg.cc/dVp15JbH/image-82.png');
  }

  /* 푸터 */
.footer{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(1, 408px);
     gap: 30px;
     
     margin-left: 100px;
     margin-right: 100px;
   
     font-family: 'Gothic A1', sans-serif;
     color: #202020;
   }
   .footer .item:nth-child(1){
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-start;
    }
    .footer .item:nth-child(1) h3{
     font-weight: 400;
     font-size: 12px;
     line-height: 24px;
     text-align: justify;
   
     margin-top: 10px;
    }
    .footer .item:nth-child(1) p{
     font-weight: 300;
     font-size: 10px;
     text-align: justify;
   
     margin-top: 10px;
    }
    .footer .item:nth-child(3){
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-end;
    }
    .footer .item:nth-child(4){
     display: flex;
     align-items: center;
     justify-content: flex-end;
    }
    .footer .item:nth-child(4) img{
     display: flex;
     align-items: center;
     justify-content: flex-start;
    }
    .footer .item:nth-child(4) ul{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-start;
     
     margin-left: 16px;
     gap: 12px;
    }
    .footer .item:nth-child(4) li{
     list-style: none;
    }
    .footer .item:nth-child(4) a{
     text-decoration: none;
     color: #202020;
    }
    .footer .item:nth-child(4) a::after {
     display:block;
     content: '';
     padding-bottom: 4px;
     border-bottom: solid 1.7px #202020;
     transform: scaleX(0);
     transition: transform 250ms ease-in-out; 
   }
   .footer .item:nth-child(4) a:hover::after {
     transform: scaleX(1);
   }
